@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This project is given by Makers Institute Indoensia as Final Project for .NET Academy Program. 
    This project uses the login form of the MVC template (using Entity Framework) and combined with the built-in SQL Server.
    This program is inspired by the many resources encountered through google search engines. If you find any bugs, please kindly contact me.
    This program will be continued to be in line with needed.
</p>
