@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Full-Stack .NET Developer Trainee<br />
    Makers Institute Indonesia<br />
    <abbr title="Phone">Phone :</abbr>
    (+62) 852 6940 4334
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wahyu.trisvianto@gmail.com">wahyu.trisvianto@gmail.com</a><br />
</address>