
@{
    ViewBag.Title = "UploadProof";
}

<h2>UploadProof</h2>

<address>
    <strong>Currently just send your confirmation proof photo to :</strong>   <a href="mailto:wahyu.trisvianto@gmail.com">@ViewBag.Email</a><br />
</address>